// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #0d0e10;
$grey-color: #3d474d;
$white-color: #ffffff;

// font global
$font-title: "Lora", serif;
$font-text: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 150%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-text;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-text;
  font-weight: $font-semibold;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-subtitle {
    font-size: 15px;
    font-weight: $font-semibold;
    color: $black-color;
    text-transform: uppercase;
    margin-bottom: $margin-0-5;
    line-height: $leading-text;
  }

  &-title {
    font-family: $font-title;
    font-size: 24px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &-bottom {
    margin-bottom: $margin-2;
  }
}

.button {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $black-color;
  font-size: 15px;
  font-weight: $font-semibold;
  color: $white-color;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  // sticky action
  &.sticky-action {
    box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: $font-title;
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: #eeeeee;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
    }

    // show menu
    &.show-menu {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    position: relative;
    font-size: 15px;
    font-weight: $font-medium;
    color: $grey-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.5rem;
      left: 0;
      width: 0;
      height: 2.5px;
      background-color: $black-color;
      border-radius: 10rem;
      transition: $transition-400;
    }

    &:hover::after {
      color: $black-color;
      width: 100%;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: $margin-1;

    &-talk {
      background-color: $white-color;
      border: 2px solid #00aaff;
      color: $black-color;
    }
  }

  &__tag {
    font-size: 14px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &__img {
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
  }
}

// ===== PARTNER SECTION =====
.partner {
  padding: 4rem 0;

  &__container {
    gap: 2rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__text {
    font-size: 18px;
    font-weight: $font-medium;
    color: $black-color;
    line-height: $leading-text;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 3.5rem 2.5rem;
  }

  &__img {
    width: 130px;
    filter: invert(0.8);
  }
}

// ===== CHALLENGE SECTION =====
.challenge {
  &__bg {
    padding: 4rem 0;
    background-color: #010510;
  }

  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__subtitle,
  &__title,
  &__text {
    color: $white-color;
  }

  &__img {
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
  }
}

// ===== SERVICES SECTION =====
.services {
  &__group {
    display: grid;
    gap: 6rem;
  }

  &__content {
    display: grid;
    gap: 3rem;

    &-data,
    &-img {
      text-align: center;
      justify-self: center;
    }

    &-button {
      gap: 0.3rem;
    }

    &-arrow {
      display: inline-flex;
      font-size: 1.5rem;
    }

    &-img {
      filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testomonial {
  &__data {
    text-align: center;
    justify-self: center;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background-color: $white-color;
    transition: $transition-400;

    &-text {
      font-size: 15px;
      font-weight: $font-medium;
      color: $grey-color;
      line-height: $leading-text;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 65px;
    }

    &-name {
      font-size: 18px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: 4px;
    }

    &-profession {
      font-size: 15px;
      font-weight: $font-medium;
      color: $grey-color;
    }

    // swiper active
    &.swiper-slide-active {
      border-color: $white-color;
      box-shadow: 0 16px 24px rgba($color: #000000, $alpha: 0.1);
    }
  }

  .swiper-wrapper {
    padding: 3rem 0;
  }

  // swiper pagination
  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      transition: $transition-400;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: #010510;
      border-radius: 5rem;
    }
  }
}

// ===== CONTACT SECTION =====
.contact {
  &__bg {
    padding: 4rem 2rem;
    background-color: #155aff;
  }

  &__data {
    text-align: center;
  }

  &__title,
  &__text,
  &__item {
    color: $white-color;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: $margin-1;

    &-talk {
      background-color: transparent;
      border: 2px solid $white-color;
      color: $white-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;

    &-check {
      display: inline-flex;
      font-size: 1.5rem;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 8rem 0 2rem;

  &__container {
    gap: 6rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
  }

  &__data {
    &-logo {
      font-family: $font-title;
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
    }

    &-text {
      margin-top: $margin-1;
    }
  }

  &__content {
    display: grid;
    gap: 1rem;

    &-title {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }

    &-link {
      font-size: 15px;
      color: $grey-color;

      &:hover {
        color: $black-color;
        text-decoration: underline;
      }
    }
  }

  &__copy {
    padding-top: 2rem;
    border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
    font-size: 15px;
    color: $grey-color;
    text-align: center;
    line-height: $leading-text;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5em;
  bottom: -100%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 1.5rem;
  color: $white-color;
  background-color: $black-color;
  z-index: $z-normal;
  transition: $transition-400;

  // scroll action
  &.scroll-action {
    bottom: 3rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .home__data,
  .partner__data,
  .challenge__data,
  .services__content-data,
  .testomonial__data {
    width: 400px;
  }

  .home__img,
  .challenge__img,
  .services__content-img {
    width: 400px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .section-title {
    font-size: 32px;
  }

  .home__data,
  .partner__data,
  .challenge__data,
  .services__content-data,
  .testomonial__data {
    width: 500px;
  }

  .home__img,
  .challenge__img,
  .services__content-img {
    width: 500px;
  }

  .home__buttons,
  .contact__buttons,
  .contact__list {
    flex-direction: row;
    justify-content: center;
  }

  .partner__group {
    grid-template-columns: repeat(3, max-content);
  }

  .services__content-button {
    display: inline-flex;
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__button {
      margin-top: 0;
    }

    &__toggle {
      display: none;
    }
  }
}

// width 968px
@media screen and (min-width: 968px) {
  .section-title {
    font-size: 36px;
  }

  .header {
    &__container {
      position: relative;
    }

    &__list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
    }
  }

  .challenge {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data,
    &__img {
      width: 100%;
    }

    &__data {
      text-align: left;
      justify-self: flex-start;
      order: 2;
    }
  }

  .services {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__content:nth-child(2) .services__content-data {
      order: 2;
    }

    &__content-data,
    &__content-img {
      width: 100%;
    }

    &__content-data {
      text-align: left;
      justify-self: flex-start;
    }
  }

  .contact__bg {
    padding: 6rem 0;
  }
}

// width 1120px
@media screen and (min-width: 1120px) {
  .home {
    &__data {
      width: 800px;
    }

    &__title {
      font-size: 48px;
    }

    &__text {
      width: 650px;
      margin: 0 auto $margin-2;
    }

    &__img {
      width: 900px;
    }
  }

  .partner {
    &__text {
      font-size: 20px;
    }

    &__group {
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
    }
  }

  .services__group {
    gap: 8rem;
  }

  .footer__content {
    justify-self: center;
  }
}

// ===== ::SELECTION =====
::selection {
  background-color: rgba($color: #010510, $alpha: 0.7);
  color: $white-color;
}
